*{margin: 0px;
padding: 0px;}
h1{
    text-align: center;
    font-size: 36px;
    color: #ff6666;
}
.box
    {
        background:url("../img/backgroundjpg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
        border: 5px solid #1dac3e;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Shadow effect */
    }

canvas {
    display: block; 
    margin: 0 auto; 
    background-color: #034507;
    border: 2px solid #555;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  

/* Existing styles */

.restartB {
    background-color: orange; /* Red button color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.restartB:hover {
    background-color: #ff3333; /* Darker red on hover */
}

/* Center the button */
.restartB-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
